workspace/
*.tar
resources/models
*.zip
*.pyc
*.bak
*.bkp
*.dtmp
**/.thumbs
**/__pycache__
resources/output/publish_issacsim.txt
**/__pycache__/
*.dtmp
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
/.runtime-data
/scenario-data/answer-sheets
resources/
resources_old/__pycache__/
*.py[cod]
*.pyo
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
build/
dist/
*.ini
